@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f2f2f2;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Styling for navigation bar */
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 2rem;
}

.nav-list li a {
  position: relative;
  text-decoration: none;
  color: #f2f2f2;
}

.nav-list li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #f2f2f2;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.nav-list li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}


/* Styling for main index page */

.main_content {
  border: 1px solid blue;
  background-color: #121212;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 5rem;

}


.brief_introduction {
  border: 1px solid yellow; 
  width: 50%; 
  text-align: center;  
  font-size: 1rem;
  padding-top: 9rem;  
}

.profile_picture {
  border: 1px solid red; 
  width: 50%;
  padding-left: 8rem;
}

#profile_pic {
  border-radius: 50%;
}

/* Button Styling for "View Projects button " */

.projects_button {
  color: #f2f2f2;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: #121212;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.2s;
}
.projects_button:after, .projects_button:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #121212;
  transition: all 1s;
}
.projects_button:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #f2f2f2;
  border-left: 5px solid #f2f2f2;
}
.projects_button:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #f2f2f2;
  border-right: 5px solid #f2f2f2;
}
.projects_button:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.projects_button:hover:before, .projects_button:hover:after {
  width: 100%;
  height: 100%;
}


/* Styling for Projects Page */

.projects_container {
  border: 1px solid green;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 1rem;
  margin-top: 4rem;
}

.project {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

i {
  font-size: 3rem;
}
i:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.icon_links {
  text-decoration: none;
  color: inherit;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 768px) {
  .brief_introduction, .profile_picture {
    width: 100%;
  }
}

