@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f2f2f2;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Styling for navigation bar */
nav {
  background-color: #121212;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 11px 0;
  margin-right: 3em;
}

.nav_anchors {
  color: #f2f2f2;
  text-decoration: none;
}

/* Styling for main index page */

.main_content {
  margin-top: 50px;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background: linear-gradient(-45deg, #16161a, #090a0b, #010101, #0000);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;*/
  
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main_content .brief_introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  text-align: center;
  font-size: 22pt;
}

.main_content .profile_picture {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img {
  border-radius: 25%;
}
